 body {
      font-family: 'Poppins';
      background-image: url('../public/img/fundo2.png');
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #fff;
      width: 400px;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }

    input:focus {
      outline: none;
      border-color: #02061b;
    }

    button {
      width: 100%;
      padding: 12px;
      border: none;
      background-color: #040612;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #02061b;
    }

    .mensagem {
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
    }

    .sucesso {
      color: green;
    }

    .erro {
      color: red;
    }