 body {
      min-height: 100vh;
      display: flex;
      font-family: 'Inter', sans-serif;
      background-color: #242424;
  }
  .sidebar {
      background-image: url('../public/img/slidebar2.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 12px;
      width: 254px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  }

  .sidebar .perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 52px 52px 0 52px;
  }
  .sidebar a:focus {
      outline: none;
  }

  .perfil a {
      background-color: #6C802A;
      border-radius: 100px;
      font-size: 17px;
      font-weight: 600;
      padding: 6px 48px;
      color: #fff;
      margin-top: 16px;
      transition: .2s ease-in-out;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  }

  .sidebar .navbar {
      width: 100%;
      margin-top: 44px;
  }
  .sidebar .navbar ul li a {
      display: block;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      padding: 35px;
      transition: .2s ease-in-out;
  }


  .sidebar .navbar ul li a.selecionado {
      background-color: transparent;
      border: 2px solid #ffffff;
  }

  .sidebar button {
      background-color: #CE1413;
      color: #fff;
      border-radius: 8px;
      padding: 8px 48px;
      font-size: 17px;
      border: none;
      font-weight: 600;
      margin-bottom: 61px;
      cursor: pointer;
      transition: .2s ease-in-out;
  }

  .sidebar button:hover {
      background-color: #ad1010;

  }

  main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .dashboards-container {
    display: flex;
      width: 100%;
      justify-content: center;
      flex: 1;
      padding: 13px;
      border-radius: 8px;
      align-items: center;
  }
  .contagem {
    color: #ffffff;
  margin-left: -55px;

  }
  .grafico {
      display: flex;
    justify-content: center; 
    margin-top: 100px;
    margin-top: 50px; 
  }
  #comentarios {
      width: 300px;         
      background-color: #2c2c2c;  
      color: #ffffff;        
      padding: 20px;
      border-radius: 12px;    
      max-height: 600px;     
      overflow-y: auto;      
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 15px;           
  }
  .comentario {
      background-color: #3a3a3a;  
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  }

  .comentario p {
      margin: 0 0 5px 0;
  }

  .comentario span {
      font-size: 12px;
      color: #b0b0b0;  
  }

  .percentualsim, .percentualnao {
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;      
    width: 150px;
    height: 150px;
    border-radius: 12px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.percentual-container {
display: flex;
justify-content: center;
margin-left: -45px;
gap: 20px;
margin-bottom: 40px;

}

 .percentualsim {
  background-color: #116606;
  color: #ffffff;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  align-items: center;
  text-align: center;
  padding: 8px;
  top: 20px;
 }
 .percentualnao {
  background-color: #680707;
  color: #ffffff;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  align-items: center;
  text-align: center;
  padding: 8px;

 }


